/*----- Estilos generales y otros ---------*/ 

:root {
    --rojo: #E50914;
    --fondo: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 92%;
    margin: auto;
}

header {
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover, 
header nav a.active {
    color: #FFF
}

        /*----- Pelicula principal ---------*/ 

.pelicula_principal {
    font-size: 16px;
	min-height: 40.62em;
	color: #fff;
    background:  linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), 
    url(../imagenes/soul3.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.pelicula_principal .container {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.pelicula_principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.pelicula_principal .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.pelicula_principal .boton {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.pelicula_principal .boton:hover {
    background: #fff;
    color: #000;
}

.pelicula_principal .boton i {
    margin-right: 1.25em;
}


    /*----- Contenedor titulo y controles ---------*/
    .container-titulo-controles {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.container-titulo-controles h3 {
    color: #fff;
    font-size: 30px;
}

.container-titulo-controles .indicadores button {
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.container-titulo-controles .indicadores button:hover,
.container-titulo-controles .indicadores button.activo {
    background: red;
}


    /*----- Contenedor principal y flechas ---------*/ 

    .peliculas-recomendadas {
        margin-bottom: 50px;
    }

    .peliculas-recomendadas .cointainer-principal {
        display: flex;
        align-items: center;
        position: relative;
    }

    .peliculas-recomendadas .cointainer-principal .flecha-izquierda,
    .peliculas-recomendadas .cointainer-principal .flecha-derecha {
        position: absolute;
        border: none;
        background: rgba(0, 0, 0, .3);
        font-size: 40px;
        height: 50%;
        top: calc(50% - 25%);
        line-height: 40px;
        width: 50px;
        color: #fff;
        cursor: pointer;
        z-index: 500;
        transition: .2s ease all;
    }

    .peliculas-recomendadas .cointainer-principal .flecha-izquierda:hover,
    .peliculas-recomendadas .cointainer-principal .flecha-derecha:hover {
        background: rgba(0, 0, 0, .9);
    }

    .peliculas-recomendadas .cointainer-principal .flecha-izquierda {
        left: 0;
    }

    .peliculas-recomendadas .cointainer-principal .flecha-derecha {
        right: 0;
    }

    
        /*----- Carousel ---------*/

    .peliculas-recomendadas .container-carousel {
        width: 100%;
        padding: 20px 0;
        overflow: hidden; 
        scroll-behavior: smooth;
    }

    .peliculas-recomendadas .container-carousel .carousel {
        display: flex;
        flex-wrap: nowrap;
    }

    .peliculas-recomendadas .container-carousel .carousel .pelicula {
        min-width: 20%;
        transition: .3s ease all;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    }

    .peliculas-recomendadas .container-carousel .carousel .pelicula.hover {
        transform: scale(1.2);
        transform-origin: center;
    }

    .peliculas-recomendadas .container-carousel .carousel .pelicula img {
        width: 100%;
        vertical-align: top;
    }



            /*----- Media Queries ---------*/ 
            
@media screen and (max-width: 800px) {

    .container {
        width: 92%;
    }

    header .logo {
        margin-bottom: 10px;
        width: 146px;
    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    .pelicula_principal {
        font-size: 14px;
    }  
   
    .pelicula_principal .descripcion {
        max-width: 100%;
        font-size: 16px;
    }

    .pelicula_principal .boton {
        padding: 14px 17px;
        font-size: 18px;
    }

    .pelicula_principal .boton i {
        margin-right: 16px;
    }

    /*----- Ajustes en recomendaciones peliculas margin bottom ---------*/
    .peliculas-recomendadas {
        margin-bottom: 32px;
    }

     /*----- Ajustes en recomendaciones peliculas ---------*/ 
     .container-titulo-controles h3 {
        color: #fff;
        font-size: 30px;
    }

         /*----- Ajustes para el responsive/Cambia a Grid ---------*/ 
    .peliculas-recomendadas .container-carousel {
        overflow: visible;
    }

    .peliculas-recomendadas .container-carousel .carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 17px;
    }

    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-izquierda,
    .peliculas-recomendadas .flecha-derecha {
        display: none;
    }
}


@media screen and (max-width: 580px) {

    .container {
        width: 91%;
    }

    header {
        padding: 15px 0;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        margin-bottom: 8px;
        width: 120px;
    }

    .pelicula_principal {
        min-height: 450px;
    }

    .pelicula_principal .titulo {
        font-size: 34px;        
    }

    .pelicula_principal .descripcion {
        font-size: 15px;
    }

    .pelicula_principal .boton {
        padding: 10px 12px;
        font-size: 16px;
    }

    .pelicula_principal .boton i {
        margin-right: 12px;
    }

     /*----- Ajustes en recomendaciones peliculas margin bottom ---------*/
     .peliculas-recomendadas {
        margin-bottom: 28px;
    }

    /*----- Ajustes en recomendaciones peliculas ---------*/ 
    .container-titulo-controles h3 {
        color: #fff;
        font-size: 24px;
    }

    /*----- Ajustes en grid de peliculas ---------*/ 
    .peliculas-recomendadas .container-carousel {
        overflow: visible;
    }

    .peliculas-recomendadas .container-carousel .carousel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
    }

    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-izquierda,
    .peliculas-recomendadas .flecha-derecha {
        display: none;
    }
}


@media screen and (max-width: 450px) {
    .container {
        width: 91%;
    }

    header {
        padding: 12px 0;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        margin-bottom: 8px;
        width: 98px;
    }

    .pelicula_principal {
        min-height: 390px;
        margin-top: 10px;
    }

    .pelicula_principal .titulo {
        font-size: 26px;        
    }

    .pelicula_principal .descripcion {
        font-size: 14px;
    }

    .pelicula_principal .boton {
        padding: 9px 11px;
        font-size: 15px;
    }

    .pelicula_principal .boton i {
        margin-right: 10px;
    }

    /*----- Ajustes en recomendaciones peliculas margin bottom ---------*/
    .peliculas-recomendadas {
        margin-bottom: 16px;
    }

     /*----- Ajustes en recomendaciones peliculas ---------*/ 
     .container-titulo-controles h3 {
        color: #fff;
        font-size: 18px;
    }

    /*----- Ajustes en grid de peliculas ---------*/ 
    .peliculas-recomendadas .container-carousel {
        overflow: visible;
    }

    .peliculas-recomendadas .container-carousel .carousel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 9px;
    }

    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-izquierda,
    .peliculas-recomendadas .flecha-derecha {
        display: none;
    }
}