:root {
    --rojo: #E50914;
    --fondo: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover, 
header nav a.active {
    color: #FFF
}

        /*----- Pelicula principal ---------*/ 

.pelicula_principal {
    font-size: 16px;
	min-height: 40.62em;
	color: #fff;
    background:  linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), 
    url(../imagenes/soul3.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.pelicula_principal .container {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.pelicula_principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.pelicula_principal .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.pelicula_principal .boton {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.pelicula_principal .boton:hover {
    background: #fff;
    color: #000;
}

.pelicula_principal .boton i {
    margin-right: 1.25em;
}


            /*----- Media Queries ---------*/ 
@media screen and (max-width: 800px) {
    header .logo {
        margin-bottom: 10px;
        width: 30px;
    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    .pelicula_principal {
        font-size: 14px;
    }

    .pelicula_principal .descripcion {
        max-width: 100%;
    }
}